<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="static/js/echarts.min.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <script src="static/js/chart.js"></script>

    <script src="static/js/linechart.js"></script>
  <title>数据分析</title>
  <!-- base:css -->
  <link rel="stylesheet" href="static/css/typicons.css">
  <link rel="stylesheet" href="static/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/style.css">
  <!-- endinject -->



</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" >
          <div style="width: 157px;height:42px;padding-right: 107px" class="navbar-brand brand-logo"  ><img src="static/picture/logo-mini.svg" alt="logo" ></div>
{#          <a class="navbar-brand brand-logo-mini" href=""><img src="static/picture/logo-mini.svg" alt="logo"></a>#}
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <ul class="navbar-nav mr-lg-2">
{#            <li class="nav-item  d-none d-lg-flex">#}
{#              <a class="nav-link" href="#">#}
{#                Calendar#}
{#              </a>#}
{#            </li>#}
            <li class="nav-item  d-none d-lg-flex">
              <a class="nav-link active" href="#">
                数据显示
              </a>
            </li>
            <li class="nav-item  d-none d-lg-flex">
              <a class="nav-link" href="/my_home">
                我的中心
              </a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-flex  mr-2">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
                <i class="typcn typcn-user-outline mr-0"></i>
                <span class="nav-profile-name">{{ name }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/my_home">
                <i class="typcn typcn-cog text-primary"></i>
                我的中心
                </a>
                <a class="dropdown-item" href="/loginOut">
                <i class="typcn typcn-power text-primary"></i>
                退出登录
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">导航栏颜色</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              浅色
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              深色
            </div>
            <p class="settings-heading mt-2">菜单栏颜色</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <div class="d-flex sidebar-profile">
              <div class="sidebar-profile-image">
                <img src="static/picture/face29.png" alt="image">
                <span class="sidebar-status-indicator"></span>
              </div>
              <div class="sidebar-profile-name">
                <p class="sidebar-name">
                  {{ name }}
                </p>
                <p class="sidebar-designation">
                  Welcome
                </p>
              </div>
            </div>
            <p class="sidebar-menu-title">导航栏</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">首页 <span class="badge badge-primary ml-3">常用</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fileUpLoad">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">初步可视化 </span>
            </a>
          </li>
         {# <li class="nav-item">
            <a class="nav-link"  data-toggle="collapse" href="/fileUpLoad" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-briefcase menu-icon"></i>
                <span class="menu-title">文件上传</span>
              <i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="fileUpLoad.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="typography.html">Typography</a></li>
              </ul>
            </div>
          </li>#}
{# 训练模型 #}
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-chart-pie-outline menu-icon"></i>
              <span class="menu-title">应用模型</span>
              <i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/data_ana">模型介绍</a></li>
                <li class="nav-item"><a class="nav-link" href="/dtw_upload">DTW+KNN模型</a></li>
                <li class="nav-item"><a class="nav-link" href="/FCN_upload">FCN模型</a></li>
{#                <li class="nav-item"> <a class="nav-link" href="buttons.html">Buttons</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="dropdowns.html">Dropdowns</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="typography.html">Typography</a></li>#}
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/compare_upload">
              <i class="typcn typcn-globe-outline menu-icon"></i>
              <span class="menu-title">分类对比</span>
{#              <i class="menu-arrow"></i>#}
            </a>
{#            <div class="collapse" id="error">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="error-404.html"> 404 </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="error-500.html"> 500 </a></li>#}
{#              </ul>#}
{#            </div>#}
          </li>


{# 历史文件 #}
          <li class="nav-item">
            <a class="nav-link" href="/history">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">历史文件</span>
            </a>
          </li>
{#我的中心#}

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="typcn typcn-user-add-outline menu-icon"></i>
              <span class="menu-title">我的中心</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/my_home"> 我的中心 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/loginOut"> 退出登录 </a></li>
              </ul>
            </div>
          </li>

{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">#}
{#              <i class="typcn typcn-th-small-outline menu-icon"></i>#}
{#              <span class="menu-title">Tables</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="tables">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="basic-table.html">Basic table</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">#}
{#              <i class="typcn typcn-compass menu-icon"></i>#}
{#              <span class="menu-title">Icons</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="icons">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="mdi.html">Mdi icons</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
              <div class="col-sm-12">
              <h3 class="mb-0 font-weight-bold"> 模型介绍</h3>
              <p>光伏发电时间序列数据分类系统</p>

              </div>
          </div>
          <div class="row">
              {#           dtw+knn #}
              <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
{#                  <!-#}
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="card-title">DTW+KNN算法</h4>
                       <form class="form-sample">
                        <p class="card-description">
                          Dynamic time warping动态时间扭曲
                        </p>
                        <blockquote class="blockquote">
                        <p>DTW算法是可以度量两个独立时间序列的相似度的一种方法。曾被广泛应用在单词音频的匹配上。该方法主要用来解决在两段序列的时长不同的情况下，进行相似度的判断。在下图中，两个序列在片段匹配时有经过平移的迹象，直接用一一匹配的方法显然是不合理的。要得到合适的效果，就需要用DTW方法。
                        </p>
                        <p>
KNN最邻近分类算法的实现原理：为了判断未知样本的类别，以所有已知类别的样本作为参照，计算未知样本与所有已知样本的距离，从中选取与未知样本距离最近的K个已知样本，根据少数服从多数的投票法则（majority-voting），将未知样本与K个最邻近样本中所属类别占比较多的归为一类。
                        </p>                        </blockquote>

                        <div class="form-group row">
                            <img src="static/picture/dtw_1.png" alt="image" class="profile-pic">
                            <a class="nav-link" href="/dtw_upload">
                            <button type="button" class="btn btn-outline-primary btn-icon-text">
                            <i class="mdi mdi-arrow-right-bold"></i>
                                应用DTW+KNN算法
                            </button>
                            </a>
                        </div>
                       </form>
                      </div>

                      <div class="col-md-6">
                       <h4 class="card-title">算法评估</h4>
                        <p class="card-description">
                          算法准确率等数据
                        </p>
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table">
                      <thead>
                        <tr>
                          <th>label</th>
                          <th>precision</th>
                          <th>recall</th>
                          <th>f1-score</th>
                          <th>support</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><label class="badge badge-success">正常</label></td>
                          <td>0.99</td>
                          <td>0.85</td>
                          <td>0.91</td>
                          <td>87</td>
                        </tr>
                        <tr>
                            <td><label class="badge badge-warning">全部遮挡</label></td>
                            <td>0.89</td>
                          <td>0.94</td>
                          <td>0.91</td>
                         <td>34</td>
                        </tr>
                        <tr>
                          <td><label class="badge badge-info">部分遮挡</label></td>
                          <td>0.76</td>
                          <td>0.97</td>
                          <td>0.85</td>
                          <td>32</td>
                        </tr>
                        <tr>
                          <td><label class="badge badge-danger">断路</label></td>
                          <td>0.83</td>
                          <td>1.00</td>
                          <td>0.91</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td><code>accuracy</code></td>
                          <td></td>
                          <td></td>
                          <td>0.90</td>
                          <td>158</td>
                        </tr>

                      <tr>
                          <td><code>macro avg</code></td>
                          <td>0.87</td>
                          <td>0.94</td>
                          <td>0.90</td>
                          <td>158</td>
                        </tr>
                      <tr>
                          <td><code>weighted avg</code></td>
                          <td>0.91</td>
                          <td>0.90</td>
                          <td>0.90</td>
                          <td>158</td>
                        </tr>
                      </tbody>
                    </table>
                            </div>

                        </div>
                           <h4 class="card-title" style="top:20px">&nbsp;&nbsp;</h4>
                            <p  style="top:20px" class="card-description" >
                            混淆矩阵
                            </p>
                         <div id="confusion" style="width: 600px;height:400px;"></div>

                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
{#              fcn#}
              <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="card-title">FCN算法</h4>
                       <form class="form-sample">
                        <p class="card-description">
                          Fully Convolutional Networks 全卷积网络
                        </p>
                        <blockquote class="blockquote">
                        <p>FCN网络结构主要分为两个部分：全卷积部分和反卷积部分。其中全卷积部分为一些经典的CNN网络（如VGG，ResNet等），用于提取特征；反卷积部分则是通过上采样得到原尺寸的语义分割图像。
                        </p>
                        </blockquote>
                        <div >
                            <img src="static/picture/fcn_1.png" alt="image" class="profile-pic">
                        </div>
                       </form>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="top:20px">
                            <h4 class="card-title" >算法评估</h4>
                            <p class="card-description">算法准确率等数据</p>
                            <div class="form-group row">
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>label</th>
                                          <th>precision</th>
                                          <th>recall</th>
                                          <th>f1-score</th>
                                          <th>support</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><label class="badge badge-success">正常</label></td>
                                          <td>0.81</td>
                                          <td>0.90</td>
                                          <td>0.86</td>
                                          <td>334</td>
                                        </tr>
                                        <tr>
                                            <td><label class="badge badge-warning">全部遮挡</label></td>
                                            <td>0.98</td>
                                          <td>0.77</td>
                                          <td>0.87</td>
                                         <td>230</td>
                                        </tr>
                                        <tr>
                                          <td><label class="badge badge-info">部分遮挡</label></td>
                                          <td>0.90</td>
                                          <td>0.96</td>
                                          <td>0.93</td>
                                          <td>195</td>
                                        </tr>
                                        <tr>
                                          <td><label class="badge badge-danger">断路</label></td>
                                          <td>0.71</td>
                                          <td>0.69</td>
                                          <td>0.70</td>
                                          <td>32</td>
                                        </tr>
                                        <tr>
                                          <td><code>accuracy</code></td>
                                          <td></td>
                                          <td></td>
                                          <td>0.87</td>
                                          <td>791</td>
                                        </tr>

                                      <tr>
                                          <td><code>macro avg</code></td>
                                          <td>0.85</td>
                                          <td>0.83</td>
                                          <td>0.84</td>
                                          <td>791</td>
                                        </tr>
                                      <tr>
                                          <td><code>weighted avg</code></td>
                                          <td>0.88</td>
                                          <td>0.87</td>
                                          <td>0.87</td>
                                          <td>791</td>
                                        </tr>
                                      </tbody>
                                    </table>
                  </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="top:20px">
                            <h4 class="card-title" >&nbsp;&nbsp;</h4>
                            <p  style="top:20px" class="card-description" >
                            混淆矩阵
                            </p>
                            <div id="s_con" style="width: 600px;height:400px;"></div>
                            <a class="nav-link" href="/FCN_upload">
                            <button type="button" class="btn btn-outline-primary btn-icon-text">
                            <i class="mdi mdi-arrow-right-bold"></i>
                                应用FCN算法
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
{#        <footer class="footer">#}
{#            <div class="d-sm-flex justify-content-center justify-content-sm-between">#}
{#              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="javascript:;" target="_blank">bootstrapdash.com</a> 2020</span>#}
{##}
{#            </div>#}
{#          </footer>#}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  <!-- container-scroller -->
  <!-- base:js -->
<script>
var chartDom = document.getElementById('confusion');
var myChart = echarts.init(chartDom);
var option;

// prettier-ignore
const hours = [
    '正常','全部遮挡','部分遮挡','断路'
];
// prettier-ignore
const days = [
    '断路','部分遮挡','全部遮挡','正常'
];
// prettier-ignore

const data = [[0, 0, 0], [0, 1, 0], [0, 2, 0], [0, 3, 5],  [1, 0, 0], [1, 1, 1], [1, 2, 31], [1, 3, 0], [2,0,1], [2, 1, 32], [2, 2, 1], [2, 3, 1], [3, 0, 74], [3, 1, 3], [3, 2, 9], [3, 3, 1]]
    .map(function (item) {
    return [item[1], item[0], item[2] || '-'];
});
option = {
  tooltip: {
    position: 'top'
  },
  grid: {
    height: '50%',
    top: '10%'
  },
  xAxis: {
      name:'预测',
    type: 'category',
    data: hours,
    splitArea: {
      show: true
    }
  },
  yAxis: {
      name:'实际',
    type: 'category',
    data: days,
    splitArea: {
      show: true
    }
  },
  visualMap: {
    min: 0,
    max: 100,
    calculable: true,
    orient: 'horizontal',
    left: 'center',
    bottom: '15%'
  },
  series: [
    {
      name: 'Punch Card',
      type: 'heatmap',
      data: data,
      label: {
        show: true
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

option && myChart.setOption(option);

</script>
<script>

var chartDom = document.getElementById('s_con');
var myChart = echarts.init(chartDom);
var option1;

const hours2 = ['正常', '全部遮挡', '部分遮挡', '断路'];

const days2 = ['断路', '部分遮挡', '全部遮挡', '正常'];
// prettier-ignore
const data2 = [[0, 0, 10], [0, 1, 0], [0, 2, 0], [0, 3, 22],  [1, 0, 8], [1, 1, 0], [1, 2, 187], [1, 3, 0], [2,0,52], [2, 1, 178], [2, 2, 0], [2, 3, 0], [3, 0, 302], [3, 1, 3], [3, 2, 20], [3, 3, 9]]
    .map(function (item) {
    return [item[1], item[0], item[2] || '-'];
});
option1 = {
  tooltip: {
    position: 'top'
  },
  grid: {
    height: '50%',
    top: '10%'
  },
  xAxis: {
    type: 'category',
    data: hours2,
    splitArea: {
      show: true
    }
  },
  yAxis: {
    type: 'category',
    data: days2,
    splitArea: {
      show: true
    }
  },
  visualMap: {
    min: 0,
    max: 100,
    calculable: true,
    orient: 'horizontal',
    left: 'center',
    bottom: '15%'
  },
  series: [
    {
      name: 'Punch Card',
      type: 'heatmap',
      data: data2,
      label: {
        show: true
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

option && myChart.setOption(option1);

</script>

  <script src="static/js/vendor.bundle.base.js"></script>

  <!-- endinject -->
  <!-- inject:js -->
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/hoverable-collapse.js"></script>
  <script src="static/js/template.js"></script>
  <script src="static/js/settings.js"></script>
  <script src="static/js/todolist.js"></script>
  <script src="static/js/linechart.js"></script>
  <!-- endinject -->
</body>

</html>
